# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# Log files
jxl.log
jmx.log
derby.log

# Gradle artifacts
.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven artifacts
#pom.xml
verzla/target/
!verzla/.mvn/wrapper/maven-wrapper.jar

# Eclipse artifacts, including WTP generated manifests
bin
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml

# VS Code
.vscode/

cached-antora-playbook.yml

node_modules

### Fonts ###
# verzla/src/main/resources/static/fonts/**/*.otf