<section class="bg-white py-10" id="browse" th:fragment="content">
  <div class="container px-5">
    <h2 class="mb-4">Popular items</h2>
    <div class="row gx-5">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $7.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-1.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Plain White T-Shirt</div>
            <div class="text-xs text-gray-500">Shirts</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $8.49
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-2.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">White T-Shirt With Graphic</div>
            <div class="text-xs text-gray-500">Shirts</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $34.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-3.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Black Sweater With Graphic</div>
            <div class="text-xs text-gray-500">Sweaters</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $29.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-4.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">
              Denim Jeans With Star Stitchings
            </div>
            <div class="text-xs text-gray-500">Jeans</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $80.00
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-5.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Bronze Watch</div>
            <div class="text-xs text-gray-500">Accessories</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $29.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-4.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">
              Denim Jeans With Star Stitchings
            </div>
            <div class="text-xs text-gray-500">Jeans</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $80.00
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-5.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Bronze Watch</div>
            <div class="text-xs text-gray-500">Accessories</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $34.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-3.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Black Sweater With Graphic</div>
            <div class="text-xs text-gray-500">Sweaters</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $8.49
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-2.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">White T-Shirt With Graphic</div>
            <div class="text-xs text-gray-500">Shirts</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $7.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-1.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Plain White T-Shirt</div>
            <div class="text-xs text-gray-500">Shirts</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $34.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-3.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">Black Sweater With Graphic</div>
            <div class="text-xs text-gray-500">Sweaters</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
        <a class="card lift h-100" href="#!">
          <div
            class="card-flag card-flag-dark card-flag-top-right card-flag-lg"
          >
            $29.99
          </div>
          <img
            class="card-img-top"
            th:src="@{/img/prods/800x500-4.jpg}"
            alt="..."
          />
          <div class="card-body p-3">
            <div class="card-title small mb-0">
              Denim Jeans With Star Stitchings
            </div>
            <div class="text-xs text-gray-500">Jeans</div>
          </div>
        </a>
      </div>
    </div>
    <div class="mb-10">
      <a class="text-arrow-icon" href="#!">
        Browse Popular Items
        <i data-feather="arrow-right"></i>
      </a>
    </div>
    <h2 class="mb-4">Browse Categories</h2>
    <div class="row gx-5">
      <div class="col-lg-4 col-md-6 mb-5">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-red"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-red text-white mb-2">
              <i class="fas fa-shirt"></i>
            </div>
            <div class="small text-gray-600">Shirts</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-orange"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-orange text-white mb-2">
              <i class="fas fa-glasses"></i>
            </div>
            <div class="small text-gray-600">Glasses</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-cyan"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-cyan text-white mb-2">
              <i data-feather="watch"></i>
            </div>
            <div class="small text-gray-600">Accessories</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-yellow"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-yellow text-white mb-2">
              <i class="fas fa-tag"></i>
            </div>
            <div class="small text-gray-600">Discounts</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-blue"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-blue text-white mb-2">
              <i class="fas fa-shuffle"></i>
            </div>
            <div class="small text-gray-600">Random</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <a
          class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-purple"
          href="#!"
        >
          <div class="card-body text-center">
            <div class="icon-stack icon-stack-xl bg-purple text-white mb-2">
              <i class="fas fa-box-archive"></i>
            </div>
            <div class="small text-gray-600">Other</div>
          </div>
        </a>
      </div>
    </div>
    <a class="text-arrow-icon" href="#!">
      All Categories
      <i data-feather="arrow-right"></i>
    </a>
  </div>
</section>
