<footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark" th:fragment="footer">
  <div class="container px-5">
    <div class="row gx-5">
      <div class="col-lg-3">
        <div class="footer-brand">Verzla</div>
        <div class="icon-list-social mb-5">
          <a class="icon-list-social-link" href="#!"
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="icon-list-social-link" href="#!"
            ><i class="fab fa-facebook"></i
          ></a>
          <a class="icon-list-social-link" href="#!"
            ><i class="fab fa-snapchat"></i
          ></a>
          <a class="icon-list-social-link" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row gx-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <div class="text-uppercase-expanded text-xs mb-4">
              Help &amp Information
            </div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#!">Help</a></li>
              <li class="mb-2">
                <a href="#!">Delivery &amp Returns</a>
              </li>
              <li class="mb-2"><a href="#!">Support</a></li>
              <li><a href="#!">FAQ</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <div class="text-uppercase-expanded text-xs mb-4">About Verzla</div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#!">About us</a></li>
              <li class="mb-2"><a href="#!">Careers</a></li>
              <li><a href="#!">Sustainability</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <div class="text-uppercase-expanded text-xs mb-4">More</div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#!">Gift cards</a></li>
              <li class="mb-2"><a href="#!">Verzla Club</a></li>
              <li><a href="#!">Newsletter</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#!">Privacy Policy</a></li>
              <li class="mb-2">
                <a href="#!">Terms and Conditions</a>
              </li>
              <li><a href="#!">License</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5" />
    <div class="row gx-5 align-items-center">
      <div class="col-md-6 small">Copyright &copy; Verzla 2024</div>
      <div class="col-md-6 text-md-end small">
        <a href="#!">Privacy Policy</a>
        &middot;
        <a href="#!">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
