<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <title>Account Settings - Verzla</title>
  <head th:replace="~{fragments/head :: head}">
  </head>
  <body id="page-top" class="bg-dark">
    <div id="layoutDefault">
      <div id="layoutDefault_content" class="bg-light">
        <main>
          <div th:replace="~{fragments/pageNav :: pageNav}"></div>
          <div th:replace="~{fragments/pageHeader :: pageHeader(title='Account Settings', icon='fa-user')}"></div>
          <div th:replace="~{fragments/auth-login :: auth-login}"></div>
          <div th:replace="~{fragments/auth-register :: auth-register}"></div>
          <div th:replace="~{fragments/auth-password :: auth-password}"></div>

          <div
            th:replace="~{fragments/account-settings :: account-settings}"
          ></div>
        </main>
      </div>
      <div id="layoutDefault_footer">
        <div th:replace="~{fragments/footer :: footer}"></div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
  </body>
</html>
