<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <title>Wishlist - Verzla</title>
  <head th:replace="~{fragments/head :: head}">
  </head>
  <body id="page-top" class="bg-dark">
    <div id="layoutDefault">
      <div id="layoutDefault_content" class="bg-light">
        <main>
          <div th:replace="~{fragments/pageNav :: pageNav}"></div>
          <div th:replace="~{fragments/pageHeader :: pageHeader(title='Wishlist', icon='fa-heart')}"></div>
          <div th:replace="~{fragments/auth-login :: auth-login}"></div>
          <div th:replace="~{fragments/auth-register :: auth-register}"></div>
          <div th:replace="~{fragments/auth-password :: auth-password}"></div>

          <div class="container py-5">
            <h2>Your Wishlist</h2>
            <div th:if="${wishlistItems.isEmpty()}">
              <p>Your wishlist is empty.</p>
            </div>
            <div class="row" th:each="item : ${wishlistItems}">
              <div class="col-md-3 mb-3">
                <div class="card">
                  <img
                    th:src="@{${item.product.imageUrl}}"
                    class="card-img-top"
                    alt="Product Image"
                  />
                  <div class="card-body">
                    <h5 class="card-title" th:text="${item.product.name}"></h5>
                    <p class="card-text" th:text="'$' + ${item.product.price}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutDefault_footer">
        <div th:replace="~{fragments/footer :: footer}"></div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
  </body>
</html>
