/*
  Names: Ingólfur and Logi
  Date: 17.09.24
  Course: HBV501G Hugbúnaðarverkefni 1

  Color Template: https://redketchup.io/color-picker + img/color_template.png
*/

body {
  background-color: rgb(249, 248, 242);
  background-size: cover;
  font-family: "Lora", serif;
  color: rgba(111, 101, 92, 1);
}

header {
  height: 90vh;
}

header, #whats-new-bar-items > a {
  justify-content: center;
  flex-direction: column;
}

header,
#whats-new-bar-items,
#whats-new-bar-items article,
#all-item-container,
.item-container,
#one-item-page {
  display: flex;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 80px;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  /* text-shadow: #551756 20px 15px 20px; */
}

#user-navbar, #category-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 1;
}

#user-navbar {
  height: 40px;
  background-color: rgba(237, 235, 229, 255);
  justify-content: right;
  top: 0px;
}

#category-navbar {
  height: 60px;
  background-color: rgb(230, 225, 219);
  justify-content: center;
  top: 40px;
}

.navbar-item {
  font-size: 20px;
  text-decoration: none;
  color: rgba(111, 101, 92, 1);
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  /*color: rgb(177, 96, 24);*/
}

.block {
  margin-top: 0px;
  font-size: 22px;
}

#curr-deal {
  background-color: rgba(237, 235, 229, 255);
  width: 80%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#curr-deal section {
  display: flex;
}

h2 {
  font-size: 40px;
}

#whats-new-bar > p {
  text-align: center;
  font-size: 20px;
}

/* from HW 1 */
footer {
  width: 100%;
  color: black;
  background-color: #E0DBD7;
}

footer p {
  padding: 20px 20px 20px 20px;
}

footer p, #whats-new-bar > p, #whats-new-bar h2 {
  text-align: center;
}

#whats-new-bar, #whats-new-bar-items > a p {
  margin-right: auto;
}

#whats-new-bar h2 {
  font-size: 35px;
  text-decoration: none;
}

#curr-deal p {
  font-size: 20px;
}

#curr-deal img {
  width: 24vw;
  height: 100%;
  border-radius: 10%;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#whats-new-bar-items, #all-item-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#whats-new-bar-items > a {
  height: 300px;
  width: 250px;
  background-color: rgb(230, 225, 219);
  opacity: 80%;
  text-align: center;
}

#whats-new-bar-items a img {
  height: 100px;
  width: 100px;
}

#whats-new-bar-items > a p, .item-container p {
  font-size: 22px;
  width: 100%;
}

#item-page-title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

#item-page-header {
  height: 30vh;
}

.item-container a img {
  height: 300px;
  width: 275px;
  margin-top: 15px;
  margin-bottom: 0px;
  object-fit: cover; /* Cover fit to handle different aspect ratios */
}

.item-container {
  height: 450px;
  width: 300px;
  background-color: rgb(230, 225, 219);
  /* opacity: 80%;*/
  margin-bottom: 5%;
  flex-direction: column;
  border-radius: 8px; /* Rounded corners for aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  align-items: center; /* Center content horizontally */
  display: flex;
  overflow: hidden; /* Hide overflow */
}

.item-detail p, .item-detail h3, #whats-new-bar-items a p {
  color: rgba(111, 101, 92, 1);
  margin: 5px 0; /* Margins for spacing between text elements */
  text-align: center; /* Center align the text */
}

.item-detail {
  padding: 10px;
  text-align: center; /* Center align the text */
}

#one-item-page {
  margin: 10%;
}

#one-item-page img {
  height: auto;
  width: 600px;
}

#one-item-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 5%;
}

#one-item-detail h2, h3 {
  text-align: left;
}

#add-to-cart-button {
  background-color: rgb(232, 216, 198);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#add-to-cart-button:hover {
  background-color: rgb(206, 177, 153);
}

/*
profile page
*/

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 5; /* Ensure it's on top of other content */
  display: none; /* Hidden by default */
}

.active {
  color: black;
  text-decoration: none;
}

.profile-container, .my-listings-container {
  text-align: center;
  margin-top: 100px;
  background-color: rgba(237, 235, 229, 255);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.profile-image {
  width: 24vw;
  height: 100%;
  border-radius: 10%;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.profile-boxes {
  display: flex;
}

.profile-info {
  background-color: rgba(237, 235, 229, 255);
  border: 1px solid  rgba(111, 101, 92, 1);
  padding: 20px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-view {
  display: none;
  position: fixed;
  width: 60%;
  height: 500px;
  top: 20%;
  left: 20%;
  background-color: rgba(237, 235, 229, 255);
  border: 1px solid  rgba(111, 101, 92, 1);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

button {
  margin-top: 10px;
  background-color: rgb(230, 225, 219);
  border: none;
  color: rgba(111, 101, 92, 1);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lora", serif;
}

.listings {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.listings .item-container {
  display: inline-block;
  width: 200px; /* Adjust based on your design */
  margin-right: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Dimmed background */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*
Cart page
*/

main {
  width: 80%;
  margin: auto;
  overflow: auto;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  margin-top: 100px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.checkout {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quantity-input {
  width: 50px;  /* Smaller width for compact appearance */
  height: 20px;  /* Adjust height for better fit and alignment */
  padding: 5px;  /* Padding for text inside the box */
  text-align: center;  /* Center the number inside the input box */
  border: 1px solid #ccc;  /* Subtle border */
  border-radius: 4px;  /* Rounded corners for modern look */
  background-color: #f8f8f8;  /* Light background */
}

.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}